@model RukiKrukiWithUsers.Models.Tool

<link href="~/Content/Site.css" rel="stylesheet" />


<div>
    <div class="row equal">
        <div class="col-lg-4 text-center" style="display:table-cell">
            <h1 style="color:red">@Model.Name</h1>
            <img src="~/@Model.Image" alt="Alternate Text" />
        </div>

        <div class="col-lg-8" id="bottomDiv" style="min-height:200px">

            <div style="position:relative; height:100%">
                <div style="position:absolute; bottom:0">
                    <div id="bottomDiv">

                        <div style="padding-bottom:15px">
                            <strong style="color:brown">Атикул: @Model.ID</strong>
                            <br>
                        </div>
                        <div style="padding-bottom:15px">
                            @Model.Description
                            <br>
                        </div>
                        <div style="padding-bottom:15px">
                            <strong style="color:chocolate">Цена: @Model.Price рублей</strong>
                            <br>
                        </div>
                        <div style="padding-bottom:15px">
                            @if (Model.InStock)
                            {
                                <strong style="color:forestgreen">Есть на складе</strong>
                            }
                            else
                            {
                                <strong style="color:red">Нет на складе</strong>
                            }
                            <br>
                        </div>
                        <div style="padding-bottom:15px">
                            <button class="btn-info" style="border-radius:3px">Купить</button>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

