@model RukiKrukiWithUsers.Models.Videos

<div class="col-lg-4" style="border:1px solid blue">

    <h3>@Model.Name</h3>
    <hr>
    <iframe width="300" height="300" src=@Model.UrlVideo frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

</div>

