@model RukiKrukiWithUsers.Models.Videos



<div class="col-lg-4 text-center">
   <h3 style="color:red">@Model.Name</h3>
   <iframe width="300" height="300" src=@Model.UrlVideo frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

