@model List<RukiKrukiWithUsers.Models.Videos>
@{
    ViewBag.Title = "VideoLessons";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string startRow = "<div class=\"row\">";
    string endRow = " </div>";
}

<h2>Видео Уроки</h2>

<div class="row">

    @for (int i = 0; i < Model.Count(); i++)
    {
        if (i % 3 == 0)
        {
            @Html.Raw(startRow)
        }
        @Html.Partial("_PartialVideoLesson", Model.ElementAt(i));

        if (i % 3 == 2 || i == (Model.Count() - 1))
        {
            @Html.Raw(endRow)
        }
    }

</div>
